/* ------------------------LOGIN CSS------------------------*/
.login-container {
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(251, 229, 184));
}

.login-contents {
    padding: 10%;
}

.main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    padding: 5px;
}

.hw-logo {
    width: 300px;
}

#google-logo {
    width: 300px;
}

#google-button {
   border: hidden;
   margin-top: 20px;
   padding: 0;
   height: 100px;
   background-color: transparent;
}

#login-message {
    font-size: 18px;
    color: rgb(106, 110, 110);
    font-family: Geneva, Verdana, sans-serif;
}

#hr-login {
    width: 500px;
    color: rgb(165, 154, 154);
}

#login-box {
    font-size: 24px;
}

.login-button {
    font-size: 24px;
    margin-top: 5%;
}

/* -----------------------FORMS CSS------------------------ */

#submitted-forms {
    text-align: center;
    margin-top: 0;
}

#forms-container {
    margin-right: 40px;
    width: 550px;
}

#selectors {
    display: flex;
    align-items: center;
    outline-style: solid;
    outline-width: 1px;
    width: 300px;
}

.selector > label {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.selector {
    width: 300px;
}

.selector-checkboxes {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-left: 15px;
}

.hw-logo-forms {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 20px;
}

.form-bar-text {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.delete-form-button, .view-form-button {
    display: inline-block;
    margin: 5px;
}

 #forms-page {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(251, 229, 184));
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forms-selectors {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#selectors {
    display: flex;
    flex-direction: column;
}

.view-form-bar {
    height: 40px;
    display: flex;
}

#survivor-info-text {
    margin-top: 10px;
}

.date-selector {
    width: 150px;
    font-size: 16px;
    margin-left: 5px;
}

/*-------------------------FORM CSS---------------------------*/
#the-form {
    width: 100%;
    z-index: 1;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
}

body {
    margin: 0px;
}

#form-page {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: rgb(251, 229, 184);
}
.form-logo {
    width: 300px;
    margin-top: 20px;
}

#title {
    font-family: Georgia, sans-serif;
    text-align: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
}

#all-fields, h4 {
    font-size: 20px;
    font-family: Georgia, sans-serif;
}

/* FORM INPUT & BUTTONS */
input, select, button {
    font-size: 20px;
    margin: 5px;
    margin-left: 0px;
    font-family: Georgia, sans-serif;
}

input[type="date"] {
    font-family: Georgia, sans-serif;
    color: gray;
}

input[type="number"] {
    width: 50px;
}

#log-out {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

hr {
    border-top:1px dotted black;
    opacity: .8;
    text-align: center;
}

#notes {
    height: 140px;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

#basic-info {
  margin: 0px;
}

.inline-input {
    margin-left: 5px;
    width: 160px;
    border-radius: 15px, 0px, 15px, 0px;
}

.indented {
    margin-left: 40px !important;
}

.view-form-button {
    margin: 5px;
}

/* FORM ALERT CSS */
h4 {
    color: red;
}

.form-element {
    margin-top: 1em;
    margin-bottom: 1em;
}

/*------------HOME-------*/

#home {
    height: 100vh;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(251, 229, 184));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hw-logo-forms {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 20px;
}

.home-logo {
    margin-top: 20px;
    margin-left: 20px;
}

#log-out-home {
    margin: 20px;
    }


#home-page-text {
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.link-box {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    opacity: .7;
}

.link-box:hover {
    opacity: 1;
}

.link-box-text {
    color: rgb(255, 255, 255);
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
}

a {
    text-decoration: none;
}

#the-links {
    display: flex;
}

#new-form-box {
    background-color: green;
  
}

#view-forms-box {
    background-color: red;
 
}

#view-data-box {
    background-color: purple;
}
/*------------------------DATA PAGE-------------------- */

#data-page {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(251, 229, 184));
    font-family: Georgia, sans-serif;
}

.hw-logo-data {
    padding: 20px;
}

#drop-down-data, #Victimizations {
    display: inline-block;
    margin: 10px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

option {
    font-size: 16px;
}



/*------------------------MEDIA SCREEN----------------  */

@media screen and (max-width: 1030px) {
    html {width: 100%;}
    .toolbar{width: 95%;}
    .hw-logo { width: 60%;}
    .login-button{
        width: 33%;
        font-size: 20px;
        margin: none;
        padding: none;
        background-color: rgb(255, 255, 255);
    }
}

/*------------------------HOME PAGE MEDIA QUERY----------------  */

@media screen and (max-width: 1330px) {
    #the-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .link-box {
        width: 75vw;
        height: 50vw;
    }

    #home {
        margin-left: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .link-box {
        width: 500px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
        opacity: .7;
    }
} 

@media screen and (max-width: 758px) {
    /* #the-form {width: 100%;}
    #form-page {display: 100%;} */
    html {width: 100%;}
    .drop-down-data {
        display: flex;
        justify-content: center;
    }
}   